In [28]:
#dependencies 
from bs4 import BeautifulSoup
from splinter import Browser
import time
import requests
import pandas as pd

# Grab Mars Article Details

In [2]:
#set up executable path and initiate browser
executable_path = {"executable_path":"chromedriver.exe"}
browser = Browser("chrome", **executable_path, headless=False)

In [12]:
#mars site to visit
mars_url = "https://mars.nasa.gov/news/"
browser.visit(mars_url)

In [13]:
#scrape page into soup
html = browser.html
soup = BeautifulSoup(html, "html.parser")

In [14]:
#bring back variables
#first article title
news_title = soup.find('ul', class_="item_list").find('li', class_="slide").find('div', class_='content_title').text
print(news_title)

#first article text
news_p = soup.find('ul', class_="item_list").find('li', class_="slide").find('div', class_='article_teaser_body').text
print(news_p)

Follow NASA's Perseverance Rover in Real Time on Its Way to Mars
A crisply rendered web application can show you where the agency's Mars 2020 mission is right now as it makes its way to the Red Planet for a Feb. 18, 2021, landing.

# Grab Mars Images

In [ ]:
#set up executable path and visit url - click through to full image
images_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(images_url)
browser.click_link_by_partial_text('FULL IMAGE')
browser.click_link_by_partial_text('more info')

In [ ]:
#scrape page details
html = browser.html
soup = BeautifulSoup(html, 'lxml')
results = soup.find('section',class_='content_page module').find('figure',class_='lede').find('a')['href']
featured_image_url = {'url' : 'https://www.jpl.nasa.gov' + results}
print(featured_image_url)

# Mars Facts

In [16]:
#set up executable path and initiate browser
executable_path = {"executable_path":"chromedriver.exe"}
browser = Browser("chrome", **executable_path, headless=False)

In [29]:
#facts site to visit
facts_url = "https://space-facts.com/mars/"

In [30]:
#scrap all facts
fact_table = pd.read_html(facts_url)
fact_table

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [33]:
type(fact_table)
fact_df = fact_table[1]
fact_df

  Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days
5            Temperature:     -87 to -5 °C      -88 to 58°C